
# =====================================================================================================
# Git Win64 - ArcGIS Pro
# =====================================================================================================
# Add any directories, files, or patterns you don't want to be tracked by version control

# -----------------------------------------------------------------------------------------------------
# exclude
# -----------------------------------------------------------------------------------------------------
[Bb]in/
[Oo]bj/
*.exe
# *.dll
Thumbs.db
MakeInfo.txt

# -----------------------------------------------------------------------------------------------------
# leave
# -----------------------------------------------------------------------------------------------------
# !*.suo

# -----------------------------------------------------------------------------------------------------
# never include
# -----------------------------------------------------------------------------------------------------
*.vs
