<?xml version="1.0" encoding="utf-8"?>
<ESRI.Configuration xmlns="http://schemas.esri.com/DADF/Registry" 
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://schemas.esri.com/DADF/Registry file:///C:/Program%20Files/ArcGIS/Pro/bin/ArcGIS.Desktop.Framework.xsd">
  <Name>msGIS.ProPluginDatasource_EntityFile</Name>
  <AddInID>{0d10cbaf-86da-4952-90d8-618a573119c7}</AddInID>
  <Description>msGIS.ProPluginDatasource_EntityFile description</Description>
  <Version>3.3.06</Version>
  <Author>roman.trojan@msgis.com</Author>
  <Company>ms.GIS</Company>
  <Date>14.12.2023 11:40:00</Date>
  <Targets>
    <Target name="ArcGISPro" version="3.0" />
  </Targets>
  <!-- CLR should be set to the target framework set in the .csproj -->
  <AddIn language="CLR:PluginDS" library="msGIS.ProPluginDatasource_EntityFile.dll" namespace="msGIS.ProPluginDatasource_EntityFile">
    <ArcGISPro>
      <PluginDatasources>
        <PluginDatasource id="msGIS_ProPluginDatasourceID_EntityFile" class="ProPluginDatasourceTemplate_EntityFile"/>
      </PluginDatasources>
    </ArcGISPro>
  </AddIn>
</ESRI.Configuration>